package $(PackageDot)view.starling;

import $(PackageDot)view.starling.display.ExampleStarlingView;
import robotlegs.bender.extensions.stage3D.starling.impl.StarlingLayer;

/**
$(CBI)* ...
$(CBI)* @author $(DefaultUser)
$(CBI)*/

@:rtti
@:keepSub
class MainStarlingLayer extends StarlingLayer
{

	public function new() 
	{
		super();
		
	}
	
	public function initialize() 
	{
		var exampleStarlingView:ExampleStarlingView = new ExampleStarlingView();
		addChild(exampleStarlingView);
	}
	
}