package $(PackageDot)services;

import $(PackageDot)services.example.ExampleService;
import robotlegs.bender.framework.api.IConfig;
import robotlegs.bender.framework.api.IInjector;

/**
$(CBI)* ...
$(CBI)* @author $(DefaultUser)
$(CBI)*/

@:rtti
@:keepSub
class ServiceConfig implements IConfig 
{
	@inject public var injector:IInjector;
	
	public function new() { }
	
	public function configure():Void
	{
		injector.map(ExampleService).asSingleton();
	}
}