package $(PackageDot)view.away3d.display;

import robotlegs.bender.bundles.mvcs.Mediator;

/**
$(CBI)* ...
$(CBI)* @author $(DefaultUser)
$(CBI)*/

@:rtti
@:keepSub
class ExampleAwayViewMediator extends Mediator 
{
	@inject public var view:ExampleAwayView;
	
	public function new() 
	{
		
	}
	
	override public function initialize():Void
	{
		view.initialize();
	}
}